img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body{
    background-color: black;
    color: black;
    font-family: 'google';
    font-size: x-large;
    font-style: normal;
}
audio{
  shape-margin: 10%;
  align-items: center;
  size: 10;
}
 